.wishContainer {
    max-width: 1000px;
    margin: 30px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.wishHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 15px;
}

.wishTitle {
    font-size: 24px;
    font-weight: bold;
    color: #2c3e50;
}

.wishItemList {
    margin-top: 20px;
}

.wishItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    border-bottom: 1px solid #f1f3f5;
}

.checkboxContainer {
    display: flex;
    align-items: center;
}

.bookInfo {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.bookThumbnail {
    width: 80px;
    height: 120px;
    background-color: #e0e0e0;
    margin-right: 15px;
}

.bookDetails {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.bookTitle {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

.bookAuthor {
    color: #6c757d;
    font-size: 14px;
}

.bookPrice {
    font-weight: bold;
    color: #2980b9;
}

.wishItemActions {
    display: flex;
    align-items: center;
}

.deleteBtn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.purchaseInfo {
    text-align: right;
    margin-top: 20px;
    padding: 15px;
    background-color: #f8f9fa;
    border-radius: 5px;
}

.totalPrice {
    font-size: 18px;
    font-weight: bold;
    color: #2c3e50;
}

.purchaseButton {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.pointInfo {
    color: #7f8c8d;
    margin-top: 10px;
}



.wishItemActions .quantitySection {
    margin-right: 15px;
}

.wishItemActions .quantityContainer {
    display: flex;
    align-items: center;
    border: 1px solid #e5e7eb;
    border-radius: 0.25rem;
    /*width: 100px;*/
}

.wishItemActions .quantityBtn {
    background-color: #f9fafb;
    border: none;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.wishItemActions .quantityBtn:hover {
    background-color: #f3f4f6;
}

.wishItemActions .quantityDisplay {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    min-width: 30px;
    text-align: center;
}