<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/main/main.css">
</head>
<body>

<div th:replace="~{ headers/header::header }"></div>

<div>
    <h2 style="font-size: 1.5rem; font-weight: bold; margin-bottom: 1rem;
    max-width: 1200px; margin: 2rem auto;padding: 0 1rem;">카테 고리</h2>
</div>
<div class="categoryBubbles" >
    <div th:each="categoryName : ${uniqueCategoryNames}">
        <a th:href="'/category/' + ${categoryName}">
            <div class="categoryBubble" th:text="${categoryName}" th:title="${categoryName}">전공서적</div>
        </a>
    </div>
</div>

<!-- 인기 상품 -->
<section class="productSection">
    <h2 style="font-size: 1.5rem; font-weight: bold; margin-bottom: 1rem;">인기 책</h2>
    <div class="productGrid">
        <div class="productCard" th:each="popularPost : ${popularPostDTOs}">
            <a th:href="@{/detailPost/{id}(id=${popularPost.id})}">
                <div class="productImage">
                    <img th:src="@{/uploadImage/} + ${popularPost.imagesEntity[0].imagePath}">
                </div>
                <h3 class="tp20" style="font-weight: bold;" th:text="${popularPost.title}">책 제목</h3>
                <p class="tp20" style="color: #6b7280;" th:text="${popularPost.author}">저자</p>
                <div class="productDetails">
                    <div class="tp20" style="display: flex">
                        <span class="productPrice" th:text="${#numbers.formatInteger(T(java.lang.Integer).parseInt(popularPost.price), 0, 'COMMA')} + ' 원'">10,000</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
<br>
<!-- 최근 상품 -->
<section class="productSection">
    <h2 style="font-size: 1.5rem; font-weight: bold; margin-bottom: 1rem;">최근 등록된 책</h2>
    <div class="productGrid">
        <div class="productCard" th:each="recentPost : ${recentPostDTOs}">
            <a th:href="@{/detailPost/{id}(id=${recentPost.id})}">
                <div class="productImage">
                    <img th:src="@{/uploadImage/} + ${recentPost.imagesEntity[0].imagePath}">
                </div>
                <h3 class="tp20" style="font-weight: bold;" th:text="${recentPost.title}">책 제목</h3>
                <p class="tp20" style="color: #6b7280;" th:text="${recentPost.author}">저자</p>
                <div class="productDetails">
                    <div class="tp20" style="display: flex">
                        <span class="productPrice" th:text="${#numbers.formatInteger(T(java.lang.Integer).parseInt(recentPost.price), 0, 'COMMA')} + ' 원'">10,000</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
<br>
<div th:replace="~{ headers/footer::footer }"></div>
<script>
    window.onload = function() {
        const alertMessage = "[[${alertMessage}]]";
        if (alertMessage) {
            alert(alertMessage);
        }
    };
</script>
<script src="/js/main/main.js"></script>
</body>
</html>