<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/main/main.css">
</head>
<body>

<div th:replace="~{ headers/header::header }"></div>

<!-- 카테고리 -->
<div class="categoryGrid">
    <div class="categoryItem">전공서적</div>
    <div class="categoryItem">교양서적</div>
    <div class="categoryItem">문학</div>
    <div class="categoryItem">취미</div>
    <div class="categoryItem">어학</div>
</div>

<!-- 인기 상품 -->
<section class="productSection">
    <h2 style="font-size: 1.5rem; font-weight: bold; margin-bottom: 1rem;">인기 상품</h2>
    <div class="productGrid">
        <div class="productCard">
            <div class="productImage"></div>
            <h3 style="font-weight: bold;">책 제목</h3>
            <p style="color: #6b7280;">저자</p>
            <div class="productDetails">
                <span class="productPrice">10,000원</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="red" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                </svg>
            </div>
        </div>
    </div>
</section>
<br>
<!-- 최근 상품 -->
<section class="productSection">
    <h2 style="font-size: 1.5rem; font-weight: bold; margin-bottom: 1rem;">최근 등록 상품</h2>
    <div class="productGrid">
        <a href="#">
            <div class="productCard">
                <div class="productImage"></div>
                <h3 style="font-weight: bold;">책 제목</h3>
                <p style="color: #6b7280;">저자</p>
                <div class="productDetails">
                    <span class="productPrice">가격</span>
                    <div class="productLikeBtn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="red" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </a>
    </div>
</section>
<br>




<div th:replace="~{ headers/footer::footer }"></div>

</body>
</html>