<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/member/mypage.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<div th:replace="~{ headers/header::header }"></div>

<!-- 전체 컨테이너 -->
<div class="container">
    <!-- 사이드 바 -->
    <div class="sidebar">
        <div class="sidebarMenu">
            <a href="#" data-content="personalInfo">개인정보 수정</a>
            <a href="#" data-content="sellContent">판매 내역</a>
            <a href="#" data-content="purchaseContent">주문 내역</a>
            <a href="#" data-content="likeyContent">찜한 상품</a>
        </div>
    </div>

<!--개인정보 컨테이너-->
    <div id="personalInfo" class="content">
        <section>
            <h2 style="font-size: 1.5rem; font-weight: bold; margin-bottom: 1.5rem;">개인정보 수정</h2>

            <div class="pointStatus">
                현재 포인트: <span style="font-weight: bold" th:text="${#numbers.formatInteger(member.point, 0, 'COMMA')} + ' 원'">잔여 포인트</span>
                <button class="pointChargeBtn">포인트 충전</button>
            </div>

            <form class="personalInfoForm" action="/editMypage" method="post">
                <div class="formGroup">
                    <div class="tags">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="input-icon">
                            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                            <circle cx="12" cy="7" r="4"></circle>
                        </svg>
                        &nbsp;
                        <label>이름</label>
                    </div>
                    <input id="name" type="text" th:value="${member.name}" readonly>
                </div>
                <div class="formGroup">
                    <div class="tags">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="input-icon">
                            <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                            <polyline points="22,6 12,13 2,6"></polyline>
                        </svg>
                        &nbsp;
                        <label>이메일</label>
                    </div>
                    <input id="email" type="text" th:value="${member.email}" readonly>
                </div>
                <div class="formGroup">
                    <div class="tags">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="input-icon">
                            <path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path>
                        </svg>
                        &nbsp;
                        <label>전화번호</label>
                    </div>
                    <input id="phone" type="tel" th:value="${member.phone}" readonly>
                </div>
                <div class="formGroup">
                    <div class="tags">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="input-icon">
                            <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                            <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                        </svg>
                        &nbsp;
                        <label>비밀번호 변경</label>
                    </div>
                    <input id="password" type="password" placeholder="새 비밀번호" value="" readonly>
                    <div class="error-message">ddd</div>
                </div>
                <div class="formGroup">
                    <div class="tags">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="input-icon">
                            <path d="M3 20v-9l9-4 9 4v9"></path>
                            <path d="M9 20v-5h6v5"></path>
                            <path d="M12 3v18"></path>
                        </svg>
                        &nbsp;
                        <label>대학교</label>
                    </div>
                    <input id="campus" type="text" th:value="${member.campus}" readonly>
                    <div class="error-message"></div>
                </div>
                <div class="formGroup">
                    <div class="tags">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="input-icon">
                            <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                            <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                        </svg>
                        &nbsp;
                        <label>비밀번호 재입력</label>
                    </div>
                    <input id="passwordCorrect" type="password" placeholder="새 비밀번호 재입력" value="" readonly>
                </div>
                <div class="formActions">
                    <button type="button">정보 수정</button>
                </div>
            </form>
        </section>
    </div>

    <!-- 판매 컨테이너 -->
    <div id="sellContent" class="content">
        <section>
            <h2 style="font-size: 1.5rem; font-weight: bold; margin-bottom: 1.5rem;">판매 내역</h2>
            <div class="productListContainer">
                <div class="productList">
                    <div class="productItem" th:each="post : ${posts}">
                        <div class="productImage">
                            <img th:src="@{/uploadImage/} + ${post.images[0].imagePath}" alt="책 표지">
                        </div>
                        <div class="productDetails">
                            <h3 th:text="${post.title}" style="margin-bottom: 20px">책이름</h3>
                            <span style="font-weight: bold">저자 </span><p th:text="${post.author}" style="margin-bottom: 10px">작성자</p>
                            <span style="font-weight: bold">대학교 </span><p th:text="${post.campus}" style="margin-bottom: 10px">대학교명</p>
                            <span style="font-weight: bold">학부/학과 </span><p th:text="${post.major}" style="margin-bottom: 10px">학부/학과명</p>
                            <span style="font-weight: bold">수량 </span><p th:text="${post.quantity}" style="margin-bottom: 10px"></p>
                            <span style="font-weight: bold">판매 가격 </span><p th:text="${#numbers.formatInteger(T(java.lang.Integer).parseInt(post.price), 0, 'COMMA')} + ' 원'" style="color: blue;margin-bottom: 10px;">가격+원</p>
                            <span style="font-weight: bold">등록 날짜 </span><p th:text="${#temporals.format(post.createDate, 'yyyy-MM-dd HH:mm')}" style="margin-bottom: 30px">작성 날짜</p>
                            <p class="productDescription" th:text="${post.content}">책 설명</p>
                        </div>
                    </div>
                </div>
                <div class="pagination" th:if="${sellTotalPages != 0}">
                    <button id="sellPrevPage" class="pagination-btn">&lt; 이전</button>
                    <span id="sellPageInfo" th:text="${sellCurrentPage} + ' / ' + ${sellTotalPages}"
                          th:data-sell-current-page="${sellCurrentPage}" th:data-sell-total-page="${sellTotalPages}">1 / 1</span>
                    <button id="sellNextPage" class="pagination-btn">다음 &gt;</button>
                </div>
            </div>
        </section>
    </div>

<!--    주문내역 컨테이너-->
    <div id="purchaseContent" class="content">
        <section>
            <h2 style="font-size: 1.5rem; font-weight: bold; margin-bottom: 1.5rem;">주문 내역</h2>
            <div class="productListContainer">
                <div class="productList">
                    <div class="productItem" th:each="purchase : ${purchases}">
                        <div class="productImage">
                            <img th:src="@{/uploadImage/} + ${purchase.post.images[0].imagePath}" alt="책 표지">
                        </div>
                        <div class="productDetails">
                            <h3 th:text="${purchase.post.title}" style="margin-bottom: 20px">책이름</h3>
                            <span style="font-weight: bold">저자 </span><p th:text="${purchase.post.author}" style="margin-bottom: 10px">작성자</p>
                            <span style="font-weight: bold">대학교 </span><p th:text="${purchase.post.campus}" style="margin-bottom: 10px">대학교명</p>
                            <span style="font-weight: bold">학부/학과 </span><p th:text="${purchase.post.major}" style="margin-bottom: 10px">학부/학과명</p>
                            <span style="font-weight: bold">개당 판매 가격 </span><p th:text="${#numbers.formatInteger(T(java.lang.Integer).parseInt(purchase.post.price), 0, 'COMMA')} + ' 원'" style="color: blue;margin-bottom: 10px"></p>
                            <span style="font-weight: bold">주문 수량 </span><p th:text="${purchase.quantity} + ' 개'" style="margin-bottom: 10px;">0개</p>
                            <span style="font-weight: bold">주문 날짜 </span><p th:text="${#temporals.format(purchase.createDate, 'yyyy-MM-dd HH:mm')}" style="margin-bottom: 30px">작성 날짜</p>
                            <p class="productDescription" th:text="${purchase.post.content}">책 설명</p>
                        </div>
                    </div>
                </div>
                <div class="pagination" th:if="${purchaseTotalPages != 0}">
                    <button id="purchasePrevPage" class="pagination-btn">&lt; 이전</button>
                    <span id="purchasePageInfo" th:text="${purchaseCurrentPage} + ' / ' + ${purchaseTotalPages}"
                          th:data-purchase-current-page="${purchaseCurrentPage}" th:data-purchase-total-page="${purchaseTotalPages}">1 / 1</span>
                    <button id="purchaseNextPage" class="pagination-btn">다음 &gt;</button>
                </div>
            </div>
        </section>
    </div>
<!--찜한 내역 뷰-->
    <div id="likeyContent" class="content">
        <section>
            <h2 style="font-size: 1.5rem; font-weight: bold; margin-bottom: 1.5rem;">찜한 상품</h2>
            <div class="productListContainer">
                <div class="productList">
                    <div class="productItem" th:each="likey : ${likeys}">
                        <div class="productImage">
                            <img th:src="@{/uploadImage/} + ${likey.post.images[0].imagePath}" alt="책 표지">
                        </div>
                        <div class="productDetails">
                            <h3 th:text="${likey.post.title}" style="margin-bottom: 20px">책이름</h3>
                            <span style="font-weight: bold">저자 </span><p th:text="${likey.post.author}" style="margin-bottom: 10px">작성자</p>
                            <span style="font-weight: bold">대학교 </span><p th:text="${likey.post.campus}" style="margin-bottom: 10px">대학교명</p>
                            <span style="font-weight: bold">학부/학과 </span><p th:text="${likey.post.major}" style="margin-bottom: 10px">학부/학과명</p>
                            <span style="font-weight: bold">개당 판매 가격 </span><p th:text="${#numbers.formatInteger(T(java.lang.Integer).parseInt(likey.post.price), 0, 'COMMA')} + ' 원'" style="color: blue;margin-bottom: 10px;">가격+원</p>
                            <span style="font-weight: bold">남은 수량 </span><p th:text="${likey.post.quantity}" style="margin-bottom: 10px"></p>
                            <span style="font-weight: bold">책 등록 날짜 </span><p th:text="${#temporals.format(likey.post.createDate, 'yyyy-MM-dd HH:mm')}" style="margin-bottom: 30px">작성 날짜</p>
                            <p class="productDescription" th:text="${likey.post.content}">책 설명</p>
                        </div>
                    </div>
                </div>
                <div class="pagination" th:if="${likeyTotalPages != 0}">
                    <button id="likeyPrevPage" class="pagination-btn">&lt; 이전</button>
                    <span id="likeyPageInfo" th:text="${likeyCurrentPage} + ' / ' + ${likeyTotalPages}"
                          th:data-likey-current-page="${likeyCurrentPage}" th:data-likey-total-page="${likeyTotalPages}">1 / 1</span>
                    <button id="likeyNextPage" class="pagination-btn">다음 &gt;</button>
                </div>
            </div>
        </section>
    </div>

</div>

<div th:replace="~{ headers/footer::footer }"></div>
<script>
    window.onload = function() {
        const alertMessage = "[[${alertMessage}]]";
        if (alertMessage) {
            alert(alertMessage);
        }
    };
</script>
<script src="/js/member/mypage.js"></script>
</body>
</html>