<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 상세 페이지</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/post/detailPost.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<div th:replace="~{ headers/header::header }"></div>

<div class="container">
    <div class="bookDetailWrapper" style="padding-top: 60px;">
        <div class="bookImageSection">
            <div class="bookImage">
                <!-- Image Slider Container -->
                <div class="image-slider">
                    <div class="slider-wrapper">
                        <div th:each="image : ${imagesDTOs}" class="slider-item">
                            <img th:src="@{/uploadImage/} + ${image.imagePath}">
                        </div>
                    </div>
                    <button class="slider-prev">&#10094;</button>
                    <button class="slider-next">&#10095;</button>
                </div>
            </div>
            <div class="buttonGroup">
<!--               찜할때는 게시물의 아이디를 전송하게됨-->
                <button class="likeBtn" th:data-post-id="${post.id}" id="likeBtn" style="background: white; margin-right: 40px;">
                    <a>
                        <svg class="icons" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                        </svg>
                    </a>
                </button>
                <span class="likeCount" id="likeCount" th:text="${likeyCnt}" th:data-iamlikey="${iamlikey}">좋아요숫자</span>
                <button class="reportBtn" id="productReportBtn" th:data-post-id="${post.id}" th:data-my-name="${#authentication.name}" th:data-post-author="${post.member.name}">
                    <a>
                        <svg class="icons"  xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="none">
                            <path d="M18 16V9c0-4.418-3.582-8-8-8S2 4.582 2 9v7l-1 2v1h18v-1l-1-2z" fill="red"/>
                        </svg>
                    </a>
                </button>


            </div>
        </div>

        <div class="bookInfoSection" th:data-post-id="${post.id}">
            <h1 class="title"  th:text="${post.title}">자바의 정석</h1>
            <hr>
            <h3 class="font-semibold" style="margin: 10px 0;">저자</h3>
            <p class="author text-gray-600 mb-4" th:text="${post.author}">남궁성</p>
            <hr style="margin-top: 15px">
            <div class="sellerInfo">
                <div>
                    <h3 class="font-semibold" style="margin-bottom: 10px;">판매자</h3>
                    <p class="name text-gray-600"  th:text="${post.member.name}">판매자이름</p>
                </div>
            </div>
            <hr style="margin-bottom: 15px">
            <div class="desc">
                <p class="content"  th:text="${post.content}">책설명</p>
            </div>

            <div class="bottom">
                <div class="priceSection">
                    <div class="flex items-center mb-2">
                        <span class="price" th:text="${#numbers.formatInteger(post.price, 0, 'COMMA')} + ' 원'">10,000</span>
                    </div>
                    <div class="remainingQuantity">
                        <span class="quantityLabel">남은 수량:</span>
                        <span class="quantityValue" th:text="${post.quantity}">7</span>
                    </div>
                </div>
                <div class="quantityPriceWrapper"  th:if="${post.member.name != #authentication.name}">
                    <div class="quantitySection">
                        <div class="quantityContainer">
                            <button class="quantityBtn quantityDecrease">-</button>
                            <span class="quantityDisplay">1</span>
                            <input type="hidden" id="quantityInput" name="quantity" value="1">
                            <button class="quantityBtn quantityIncrease">+</button>
                        </div>
                    </div>
                    &nbsp;
                    <div class="totalPriceSection">
                        <span class="totalPriceDisplay">10,000원</span>
<!--                        todo:필요하면 여기에 hidden input으로 총 가격을 서버로 전송 할 것-->
                    </div>
                </div>
                <div class="actionBtn">
                    <button class="editBtn" th:data-post-id="${post.id}" th:disabled="${post.member.name != #authentication.name}" th:style="${post.member.name != #authentication.name ? 'display: none;' : 'display: inline-block;'}">수정</button>
                    <button class="removeBtn" th:data-post-id="${post.id}" th:disabled="${post.member.name != #authentication.name}" th:style="${post.member.name != #authentication.name ? 'display: none;' : 'display: inline-block;'}">삭제</button>
                    <button class="wishBtn" th:data-post-id="${post.id}" th:disabled="${post.member.name == #authentication.name}" th:style="${post.member.name == #authentication.name ? 'display: none;' : 'display: inline-block;'}">장바구니 담기</button>
                    <!--  <button class="buyBtn" th:data-post-id="${post.id}" th:disabled="${post.member.name == #authentication.name}" th:style="${post.member.name == #authentication.name ? 'display: none;' : 'display: inline-block;'}">바로 구매</button>-->
                </div>
            </div>
        </div>
    </div>

    <div class="reviewContainer">
<!--        리뷰 작성란-->
        <div class="addReviewSection">
            <div class="addReviewForm">
                <div class="addReviewInputs">
                    <div class="myname" sec:authentication="principal.name"></div>
                    <div class="addReviewTitle">
                        <input type="text" name="reviewTitle" placeholder="리뷰 제목을 입력하세요" class="addReviewTitleInput">
                    </div>
                    <textarea placeholder="리뷰 내용을 입력하세요" name="reviewContent" class="addReviewContent"></textarea>
                </div>
                <button class="submitReviewBtn" th:data-post-id="${post.id}">리뷰 작성</button>
            </div>
        </div>

        <div id="reviewSection">
<!--            리뷰 갯수-->
            <div class="reviewHeader">
                <h2 class="reviewIntro">리뷰 (
                    <span class="reviewCnt" th:text="${reviewDTOs.size}">숫자</span>
                    )</h2>
            </div>
<!--            리뷰 리스트-->
            <div class="reviewList" id="reviewList">
                <br>
                <!--            이거 반복-->
                <div class="reviewItem" th:each="review : ${reviewDTOs}">
                    <div class="reviewItemHeader">
                        <div class="reviewItemInfo">
                            <h3 class="reviewTitle" th:text="${review.title}">리뷰 제목</h3>
                            <span class="reviewAuthor" th:text="${review.author}">리뷰 작성자</span>
                        </div>
                        <div class="reviewActions">
<!--                            리뷰 작성자인지 확인-->
                            <div class="ownUserSettings" th:if="${review.author == #authentication.principal.name}">
<!--                                리뷰아이디로 컨트롤러 호출 하게-->
                                <a>
                                    <button class="editReviewBtn" th:data-review-id="${review.id}" th:data-author-name="${review.author}" th:data-current-name="${#authentication.principal.name}">수정</button>
                                </a>
                                <a>
                                    <button class="deleteReviewBtn" th:data-review-id="${review.id}" th:data-author-name="${review.author}" th:data-current-name="${#authentication.principal.name}">삭제</button>
                                </a>
                            </div>
                            <button class="reportBtn bg reviewReportBtn"th:data-review-id="${review.id}" th:data-review-author="${review.author}" th:data-my-name="${#authentication.name}">
                                <a>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="none">
                                        <path d="M18 16V9c0-4.418-3.582-8-8-8S2 4.582 2 9v7l-1 2v1h18v-1l-1-2z" fill="red"/>
                                    </svg>
                                </a>
                            </button>
                        </div>
                    </div>
                    <p class="reviewContent" th:text="${review.content}">
                        책 설명
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- 레이어 (모달) -->
    <div class="overlay" id="reportOverlay">
        <div class="modal">
            <p class="modalMessage">신고하시겠습니까?</p>
            <div class="modalActions">
                <button class="modalBtn yesBtn">예</button>
                <button class="modalBtn noBtn">아니오</button>
            </div>
        </div>
    </div>

    <!-- 신고 모달 -->
    <div class="reportDetailModal" id="reportDetailModal" >
        <div class="reportDetailContent">
            <h2 style="text-align: center;">신고 사유 선택</h2>
            <div class="reportReasons">
                <label>
                    <input type="checkbox" id="inappropriateContent">
                    부적절한 내용
                </label>
                <label>
                    <input type="checkbox" id="spamOrAds">
                    스팸 또는 광고
                </label>
                <label>
                    <input type="checkbox" id="copyrightInfringement">
                    저작권 침해
                </label>
                <label>
                    <input type="checkbox" id="misinformation">
                    허위 정보
                </label>
                <textarea class="otherReasonInput" placeholder="기타 신고 사유를 입력해주세요 (선택사항)"></textarea>
            </div>
            <div class="reportModalActions">
                <button class="reportSubmitBtn" th:data-post-id="${post.id}">제출</button>
                <button class="reportCancelBtn">취소</button>
            </div>
        </div>
    </div>
</div>

<div style="height:55px"></div>
<div th:replace="~{ headers/footer::footer }"></div>
<script>
    window.onload = function() {
        const alertMessage = "[[${alertMessage}]]";
        if (alertMessage) {
            alert(alertMessage);
        }
    };
</script>
<script src="/js/post/detailPost.js"></script>
</body>
</html>