<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 상세 페이지</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/post/detailPost.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<div th:replace="~{ headers/header::header }"></div>

<div class="container">
    <div class="bookDetailWrapper" style="padding-top: 60px;">
        <div class="bookImageSection">
            <div class="bookImage">
                <!-- Image Slider Container -->
                <div class="image-slider">
                    <div class="slider-wrapper">
                        <div th:each="image : ${imagesDTOs}" class="slider-item">
                            <img th:src="@{/uploadImage/} + ${image.imagePath}">
                        </div>
                    </div>
                    <button class="slider-prev">&#10094;</button>
                    <button class="slider-next">&#10095;</button>
                </div>
            </div>
            <div class="buttonGroup">
<!--               찜할때는 게시물의 아이디를 전송하게됨-->
                <button class="likeBtn" th:data-post-id="${post.id}" id="likeBtn" style="background: white; margin-right: 40px;">
                    <a>
                        <svg class="icons" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                        </svg>
                    </a>
                </button>
                <span class="likeCount" id="likeCount" th:text="${likeyCnt}" th:data-iamlikey="${iamlikey}">좋아요숫자</span>
                <button class="reportBtn" id="productReportBtn" data-name="book">
                    <a>
                        <svg class="icons"  xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="none">
                            <path d="M18 16V9c0-4.418-3.582-8-8-8S2 4.582 2 9v7l-1 2v1h18v-1l-1-2z" fill="red"/>
                        </svg>
                    </a>
                </button>


            </div>
        </div>

        <div class="bookInfoSection">
            <h1 class="title"  th:text="${post.title}">자바의 정석</h1>
            <hr>
            <h3 class="font-semibold" style="margin: 10px 0;">저자</h3>
            <p class="author text-gray-600 mb-4" th:text="${post.author}">남궁성</p>
            <hr style="margin-top: 15px">
            <div class="sellerInfo">
                <div>
                    <h3 class="font-semibold" style="margin-bottom: 10px;">판매자</h3>
                    <p class="name text-gray-600"  th:text="${post.member.name}">판매자이름</p>
                </div>
            </div>
            <hr style="margin-bottom: 15px">
            <div class="desc">
                <p class="content"  th:text="${post.content}">책설명</p>
            </div>

            <div class="bottom">
                <div class="priceSection">
                    <div class="flex items-center mb-2">
                        <span class="price" th:text="${#numbers.formatInteger(post.price, 0, 'COMMA')}">10,000</span>원
                    </div>
                </div>
                <div class="quantityPriceWrapper"  th:if="${post.member.name != #authentication.name}">
                    <div class="quantitySection">
                        <div class="quantityContainer">
                            <button class="quantityBtn quantityDecrease">-</button>
                            <span class="quantityDisplay">1</span>
                            <input type="hidden" id="quantityInput" name="quantity" value="1">
                            <button class="quantityBtn quantityIncrease">+</button>
                        </div>
                    </div>
                    &nbsp;
                    <div class="totalPriceSection">
                        <span class="totalPriceDisplay">10,000원</span>
<!--                        todo:필요하면 여기에 hidden input으로 총 가격을 서버로 전송 할 것-->
                    </div>
                </div>
                <div class="actionBtn">
                    <button class="editBtn" th:data-post-id="${post.id}" th:if="${post.member.name == #authentication.name}">수정</button>
                    <button class="removeBtn" th:data-post-id="${post.id}" th:if="${post.member.name == #authentication.name}">삭제</button>
                    <button class="wishBtn" th:data-post-id="${post.id}" th:if="${post.member.name != #authentication.name}">장바구니 담기</button>
                    <button class="buyBtn" th:data-post-id="${post.id}" th:if="${post.member.name != #authentication.name}">바로 구매</button>
                </div>
            </div>
        </div>
    </div>

    <div class="reviewContainer">
<!--        리뷰 작성란-->
        <div class="addReviewSection">
            <div class="addReviewForm">
                <div class="addReviewInputs">
                    <div class="myname" sec:authentication="principal.name"></div>
                    <div class="addReviewTitle">
                        <input type="text" name="reviewTitle" placeholder="리뷰 제목을 입력하세요" class="addReviewTitleInput">
                    </div>
                    <textarea placeholder="리뷰 내용을 입력하세요" name="reviewContent" class="addReviewContent"></textarea>
                </div>
                <button class="submitReviewBtn">리뷰 작성</button>
            </div>
        </div>

        <div id="reviewSection">
<!--            리뷰 갯수-->
            <div class="reviewHeader">
                <h2 class="reviewIntro">리뷰 (
                    <span class="reviewCnt" th:text="${reviewDTOs.size}">숫자</span>
                    )</h2>
            </div>
<!--            리뷰 리스트-->
            <div class="reviewList" id="reviewList">
                <br>
                <!--            이거 반복-->
                <div class="reviewItem" th:each="review : ${reviewDTOs}">
                    <div class="reviewItemHeader">
                        <div class="reviewItemInfo">
                            <h3 class="reviewTitle" th:text="${review.title}">리뷰 제목</h3>
                            <span class="reviewAuthor" th:text="${review.author}">리뷰 작성자</span>
                        </div>
                        <div class="reviewActions">
<!--                            리뷰 작성자인지 확인-->
                            <div class="ownUserSettings" th:if="${review.author == #authentication.principal.name}">
<!--                                리뷰아이디로 컨트롤러 호출 하게-->
                                <a>
                                    <button class="editReviewBtn" th:data-review-id="${review.id}" th:data-author-name="${review.author}" th:data-current-name="${#authentication.principal.name}">수정</button>
                                </a>
                                <a>
                                    <button class="deleteReviewBtn" th:data-review-id="${review.id}" th:data-author-name="${review.author}" th:data-current-name="${#authentication.principal.name}">삭제</button>
                                </a>
                            </div>
                            <button class="reportBtn bg" id="reviewReportBtn" data-name="review">
                                <a>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="none">
                                        <path d="M18 16V9c0-4.418-3.582-8-8-8S2 4.582 2 9v7l-1 2v1h18v-1l-1-2z" fill="red"/>
                                    </svg>
                                </a>
                            </button>
                        </div>
                    </div>
                    <p class="reviewContent" th:text="${review.content}">
                        문법과 개념을 깔끔하게 정리해놓은 책이에요. 예제도 많고 설명도 detail하게 되어있어 좋습니다.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- 레이어 (모달) -->
    <div class="overlay" id="reportOverlay">
        <div class="modal">
            <p class="modalMessage">신고하시겠습니까?</p>
            <div class="modalActions">
                <button class="modalBtn yesBtn">예</button>
                <button class="modalBtn noBtn">아니오</button>
            </div>
        </div>
    </div>
</div>

<div style="height:55px"></div>
<div th:replace="~{ headers/footer::footer }"></div>
<script>
    window.onload = function() {
        const alertMessage = "[[${alertMessage}]]";
        if (alertMessage) {
            alert(alertMessage);
        }
    };
</script>
<script src="/js/post/detailPost.js"></script>
</body>
</html>