<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOOTER</title>
    <style>
        /* Footer */
        .footer {
            background-color: #1f2937;
            color: white;
            text-align: center;
            padding: 1rem;
        }
    </style>
</head>
<body>
<!-- Footer -->
<footer class="footer" th:fragment="footer">
    © 2024 CampusBookStore. All rights reserved.
</footer>
</body>
</html>