<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HEADER</title>
</head>
<body>
<!-- Header -->
<header class="header" th:fragment="header">
    <a href="/main" style="">
        <div class="logo">CampusBookStore</div>
    </a>
    <div class="headerNav">
        <div class="headerRight">
            <div class="searchContainer">
<!--                검색페이지로-->
                <form action="/search" method="get">
                    <input type="text" name="keyword" class="searchInput" placeholder="책 제목, 저자 검색" >
                    <button class="searchButton" type="submit">
                        <div class="searchIcon">🔍</div>
                    </button>
                </form>
            </div>
            <a href="/login" sec:authorize="isAnonymous()" style="margin-bottom: -7px"  title="login">
                <div class="loginIcon">🔑</div>
            </a>
            <a href="/register" sec:authorize="isAnonymous()" style="margin-bottom: -7px"  title="register">
                <div class="registerIcon">➕</div>
            </a>
            <a href="/admin/report" sec:authorize="hasAuthority('ROLE_ADMIN')" style="margin-bottom: -7px"  title="manager">
                <div class="addIcon">🚨</div>
            </a>
            <a href="/addPost" sec:authorize="isAuthenticated()"  title="upload">
                <div class="addIcon">📤</div>
            </a>
            <a href="/wish" sec:authorize="isAuthenticated()"  title="wishs">
                <div class="wishIcon">🛒</div>
            </a>
            <a href="/mypage" sec:authorize="isAuthenticated()"  title="mypage">
                <div class="profileIcon">👤</div>
            </a>
            <a href="/logout" sec:authorize="isAuthenticated()"  title="logout">
                <div class="logoutIcon">↩️</div>
            </a>
        </div>
    </div>
</header>
</body>
</html>