<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HEADER</title>
</head>
<body>
<!-- Header -->
<header class="header" th:fragment="header">
    <a href="/" style="">
        <div class="logo">CampusBookStore</div>
    </a>
    <div class="headerNav">
        <div class="headerRight">
            <div class="searchContainer">
<!--                검색페이지로-->
                <form action="/search" method="post">
                    <input type="text" name="keyword" class="searchInput" placeholder="책 제목, 저자 검색" >
                    <button class="searchButton" type="submit">🔍</button>
                </form>
            </div>
            <a href="/cart">
                <div class="cartIcon">🛒</div>
            </a>
            <a href="/mypage">
                <div class="profileIcon">👤</div>
            </a>
            <a href="/logout">
                <div class="logoutIcon">↩️</div>
            </a>
        </div>
    </div>
</header>
</body>
</html>